.heading {
    font-size: 25px;
    width: 100%;
    margin: 0;
    box-shadow: 5px 5px 5px grey;
}
.model {
    background-color: white;
    color: black;
    float: none;
    box-shadow: 5px 5px 5px grey;
    border-radius: 20px;
}
.people {
    font-size: 20px;
}
p {
    font-size: 20px;
}
.copyright_footer {
    background-color: orange;
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    line-height: 3;
}
canvas {
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
    border: solid 5px white;
    margin-top: 100px;
}